window {
    background: #1e1e2e;
}

label {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    color: #cdd6f4;
    padding: 0px;
}

#infinity {
    font-size: 24px;
    font-weight: bold;
    color: #89b4fa;
}

#context {
    color: #a6e3a1;
}

#clock {
    color: #f9e2af;
}